/* ****************************
* Owner: Naini Singh
* Date: 21 November 2023
* From: https://www.w3schools.com/css/default.asp
*******************************/
ul {
    list-style-type : none;
    overflow : hidden;
    background-color : navy;
    }
    li {
    float : right;
    }
    li a {
    display : block;
    color : white;
    text-align : center;
    padding : 11px 10px;
    text-decoration : none;
    }
    li a:hover {
    background-color : #111;
    }
    #logo {
        height: 50px;
        width: 40px;
    }
    h2 {
    text-align: left;
    font-family: verdana;
    font-style: bold;
    }
    /* End Owner: Naini Singh */
   p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: navy;                          
    font-size: 40px;
    text-align: center; 
   }

.Author {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    color: blue;                          
    font-size: 30px;      
}

#Intersection {
    display: block;
    margin-left: 350px;

  }

#Remote {
    display: block;
    margin-left: 1300px;
  }

#Survey {
    display: block;
    margin-left: 350px;
  }

  .banner video{
    position:absolute;
    top: 100px;
    right: 10px;
    bottom: 50%;
    z-index:-1;
    align-items: center;
    padding-top: 10px;;
}

 @media(min-aspect-ratio:16/9)
{
    .banner video{
        width:100%;
        height: 45%;
       
    }
}
@media(max-aspect-ratio:16/9)
{
    .banner video{
        width:auto;
        height:45%;
       
    }
}
h1{
    text-align: center;
    font-weight: 200;
    font:10px ;
    padding-top:10px;
}  
body{
    transition:background-color 0.5s,color 0.5s;
}
.dark-mode{
    background-color:#515151;
    color:white;
    
}