ul {
    list-style-type : none;
    overflow : hidden;
    background-color : navy;
    }
    li {
    float : right;
    }
    li a {
    display : block;
    color : white;
    text-align : center;
    padding : 11px 10px;
    text-decoration : none;
    }
    li a:hover {
    background-color : #111;
    }

    h2 {
    text-align: left;
    font-family: verdana;
    font-style: bold;
    }
   p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: navy;                          
    font-size: 40px;
    text-align: center; 
   }

.Author {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    color: blue;                          
    font-size: 30px;      
}
