ul {
    list-style-type : none;
    overflow : hidden;
    background-color : navy;
    }
    li {
    float : right;
    }
    li a {
    display : block;
    color : white;
    text-align : center;
    padding : 11px 10px;
    text-decoration : none;
    }
    li a:hover {
    background-color : #111;
    }
    h1 {
    text-align: left;
    font-family: verdana;
    font-style: bold;
    }
   p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    font-style: italic;
    color: navy;                          
    font-size: 40px;                                 
    background-color: whitesmoke;

}

.Author {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    text-align: right;
    color: blue;                          
    font-size: 20px;                                 
    text-align: right;
    text-indent: 80%;
    background-color: antiquewhite;
}
