/* ****************************
* Owner: Naini Singh
* Date: 04 December 2023
* From: https://www.w3schools.com/css/default.asp

*******************************/
body {
  background-color: white;
}
ul {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color:black;
  }

li {
  float: left;
  border-right: 1px solid black;
  background-color:black;
  
}

li a {
  display: block;
  color:white;
  text-align: center;
  font-family: Verdana;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color : lightgray;
}


.rightend {
 float: right;
}

.header {
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
    background: white;
}


.leftcolumn {   
    float: left;
    width: 75%;
  }
  
 
.rightcolumn {
    float: left;
    width: 25%;
    background-color: white;
    padding-left: 20px;
  }
  
.inner {
    background-color: white;
    padding: 50px;
    margin-top: 20px;
  }
  

.outer::after {
    content: "";
    display: table;
    clear: both;
  }

.abouthead2 {
    font-family: sans-serif;
    margin-top: 0;
  }

.aboutush2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0;
}

.aboutp1 {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

.box {
  
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.checked {
  color: yellow;
}

/* ****************************
* Owner: Naini Singh
* Date: 04 December 2023
* From: https://www.w3schools.com/css/default.asp

*******************************/


/*home page image section start here*/

.mainpageimage {                /* https://unsplash.com/s/photos/people-computer */                 
  position: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding-top: 50px;
}

.mainpageimg {
  width: 1700px;
  height: 500px;
}

.centered1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 55px;
  font-style: normal;
  font-weight: bold;
  color: white;
}

/*home page image section ends here*/

.abquote {
   color: black;
   text-align: left;
   font-size: 40px;
   font-family: verdana;
}

.abquotetext h3 {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: verdana;
}

.abquotetext p {
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: verdana;
}

/* ****************************
* Owner: Nuthan Abhiram Chenelli
* Date: 03 November 2023
* From: https://www.w3schools.com/css/default.asp
* Purpose: This is the CSS part related to HTML of "quote" and also text realted to images in website.
*******************************/

/*top image start here*/

.img-serv {          /*https://www.pexels.com/search/geography/ */  
  margin-left: 5%;
  max-width: 100%;
  width: 1700px;
  height: 500px;
  padding-top: 50px;
}

/*top image ends here*/

/*Heading start here*/

#services{
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: verdana;
}

/*Heading end here*/

/*Details related to surveying starts here*/

.surveyingabpart {
  margin-left: 10%;
  width: 80%;
}

.surveyingabimg {          /* https://www.shutterstock.com/search/land-surveyor */  
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  padding-right: 10px;
  padding-top: 20px;
}

.surveyingabtext h1 {
  font-size: 30px;
  font-family: monoid;
  color: black;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.surveyingabtext p {
  font-size: 20px;
  font-family: monoid;
  color: green;
  padding-bottom: 30px;
  text-align: center;
}

/*Details related to surveying ends here*/

/*Details related to cartography here*/

.cartopart {
  margin-left: 10%;
  width: 80%;
}

.cartoimg {             /* https://en.wikipedia.org/wiki/File:World_Map_1689.JPG */ 
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  padding-right: 10px;
  padding-top: 10px;
}

.cartotext h2 {
  font-size: 30px;
  font-family: monoid;
  padding-top: 30px;
  text-align: center;
  color: black;
}

.cartotext p {
  font-size: 20px;
  font-family: monoid;
  padding-top: 10px;
  padding-bottom: 30px;
  color: green;
  text-align: center;
}

/*Details related to cartography ends here*/

/*Details related to datamanagement starts here*/

.datampart {
  margin-left: 10%;
  width: 80%;
}

.datamimg {         /*  https://www.dreamstime.com/photos-images/data-management.html */ 
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  padding-right: 10px;
}

.datamtext h3 {
  font-size: 30px;
  font-family: monoid;
  padding-top: 30px;
  text-align: center;
  color: black;
}

.datamtext p {
  font-size: 20px;
  font-family: monoid;
  padding-top: 10px;
  padding-bottom: 30px;
  color: green;
  text-align: center;
}

/*Details related to data management ends here*/

/*Details related to Remote sensing starts here*/

.remotespart {
  margin-left: 10%;
  width: 80%;
}

.remotesimg {      /* https://depositphotos.com/photos/remote-sensing.html*/ 
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  padding-right: 10px;
}

.remotestext h4 {
  font-size: 30px;
  font-family: monoid;
  padding-top: 30px;
  text-align: center;
  color: black;
}

.remotestext p {
  font-size: 20px;
  font-family: monoid;
  padding-top: 10px;
  padding-bottom: 30px;
  color: green;
  text-align: center;
}

/*Details related to Remote sensing ends here*/

/*Details related to web and app starts here*/

.webandapppart {
  margin-left: 10%;
  width: 80%;
  padding-bottom: 10px;
}

.webandappimg {         /* https://pixabay.com/images/search/web%20design/ */ 
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  padding-right: 10px;
}

.webandapptext h5 {
  text-align: center;
  font-size: 30px;
  font-family: monoid;
  padding-top: 30px;
  color: black;
}

.webandapptext p {
  font-size: 20px;
  font-family: monoid;
  padding-bottom: 30px;
  color: green;
  text-align: center;
}

/*Details related to web and app ends here*/

/* Details relate to CSS of the service page end here

/******************************************************************************************************************** */

/* ****************************
* Owner: Nuthan Abhiram Chenelli
* Date: 04 december 2023
* From: https://www.w3schools.com/css/default.asp
* Purpose: This is the CSS part related to software page of the website.
*******************************/

/*Details related to software page starts here*/

.firstimage {                /* https://unsplash.com/s/photos/people-computer */                 
  position: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding-top: 50px;
}

.softwareimg {
  width: 1400px;
  height: 600px;
  opacity: 0.6;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  color: black;
}

#softwaretext {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: verdana;
}

/*Details related to first image of software page ends here*/

/*Details related to software columns page starts here*/

.column {
  float: left;
  width: 27%;
  height: 350px;
  background-color: lightblue;
  margin-left:5%;
  padding-top: 60px;
  border-radius: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 30px;
}


.column h2{
  color: navy;
  font-style: italic;
  font-size: 35px;
  text-align: center;
}

.column p{
  color: black;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
}

/*Details related to software columns page ends here*/

/*Details related to custom plan starts here*/

.selectswcont {
  height: 100px;
  width: 50%;
  background-color: whitesmoke;
  margin-left: 27%;
  padding-left: 30px;
  border-radius: 10px;
}

.selectsw h3 {
  color: red;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;

}

.selectsw p {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}

/*Details related to custom plan ends here*/

/*Details related to custom plan table starts here*/

table {
  font-family: sans-serif;
  width: 70%;
  border-spacing: 30px;
  margin-left: 15%;
  padding-top: 25px;
}

th {
  border-style: solid;
  text-align: center;
  padding-bottom: 8px;

}

tr {
  color: green;
  font-size: 20px;
  text-align: center;
}

/*Details related to custom plan table ends here*/

/*Details related to contact us text starts here*/

#contactus {
  color: black;
  margin-left: 28%;
  font-size: 40px;
}

/*Details related to contact us text ends here*/

/* Details relate to CSS of the software page end here
End Owner: Nuthan Abhiram Chenelli */

/* ****************************
* Owner: Ashwin Balaji Srinivasan
* Date: 04 december 2023
* From: https://www.w3schools.com/css/default.asp
* For : Contact
*******************************/
.contacttitle {
  position: relative;
  padding-right: 15px;
}

.faqname {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: whitesmoke;
  font-family: Tahoma;
  font-size: xx-large;
  font-weight: bolder;
  
}

img { 
  position: relative;
  width: 100%;
  height: auto;
  width: 1500px;
  height: 300px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: -1;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-family: Tahoma;
}

.locationmap {

  margin-left: 20px; 
  width: 1450px;
  height: 400px;
  }

.hd2 {
  font-family:Tahoma;
  font-weight: bolder;
}  

.Contact {
  font-family: Tahoma;
  font-weight: bold;
  text-align: center;

}

.faq {
margin-left: 15px;
margin-right: 15px;
}

.containerfoot{
width:100%;
height:275px;
position:relative;
text-align:center;
align-items: center;
background-color:beige;
}

/* Details relate to CSS of the contact page ends here
End Owner: Ashwin Balaji Srinivasan */

/* ****************************
* Owner: Ashwin Balaji Srinivasan
* Date: 04 december 2023
* From: https://www.w3schools.com/css/default.asp
* For : Tutorials
*******************************/
.tutorialtitle {
  position: relative;
  padding-right: 15px;
}

.tutiname {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: whitesmoke;
  font-family: Tahoma;
  font-size: xx-large;
  font-weight: bolder;
}

img { 
  position: relative;
  width: 1400px;
  height: 500px;
  padding-top: 50px;
  margin-left: 60px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: center;
  z-index: -1;
}

div.training {
  border: 1px solid #ccc;
}

div.training:hover {
  border: 1px solid #777;
}

div.training img {
  width: 200px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: tahoma;
  font-size: large;
  font-weight: bolder;
  ;
}

* {
  box-sizing: border-box;
}

.verticalmenu {
  width: 500px;
  padding-top: 300px;
  margin-left: 500px;

}

.verticalmenu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.verticalmenu a:hover {
  background-color: #ccc;
}

.verticalmenu a.active {
  background-color: #6a6a6a;
  color: white;
}

* {
  box-sizing: border-box;
}

.training {
  float: left;
  margin-left: 180px;
  width: 33.33%;
  padding-top: 50px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  background-color: grey; /* Grey */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: tahoma;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.logos {
  padding-top: 50px;
  width: 200px;
  height:200px;
}
.columnz {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.rowz::after {
  content: "";
  clear: both;
  display: table;
}

/* Details relate to CSS of the tutorial page ends here
End Owner: Ashwin Balaji Srinivasan */

/* ****************************
* Owner: Naini Singh
* Date: 04 December 2023
* From: https://www.w3schools.com/css/default.asp

*******************************/

.header {
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
    background: white;
}


.leftcolumn {   
    float: left;
    width: 75%;
  }
  
 
.rightcolumn {
    float: left;
    width: 25%;
    background-color: white;
    padding-left: 20px;
  }
  
 
.team_img {
    background-color: white;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: 0;
    max-width: 300px;
    float: left;
    height: 50%;
    width: 50%;
  }
  
  
.inner {
    background-color: white;
    padding: 50px;
    margin-top: 20px;
  }
  

.outer::after {
    content: "";
    display: table;
    clear: both;
  }

.abouthead2 {
    font-family: sans-serif;
    margin-top: 0;
  }

.aboutush2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0;
}

.aboutp1 {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

.box {
  
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.checked {
  color: orange;
}
/* css ends****************************
* Owner: Naini Singh

*******************************/
/*Styling the font for all the footer content*/
footer{
    font-family:Verdana;
    text-align: center;
}
/*Assigning box size for the contained element*/
*{
    box-sizing: border-box;
}
/*Styling the container for the footer section*/
.container{
    margin-top:10px;
    width:100%;
    height:275px;
    position:relative;
    text-align:center;
    align-items: center;
    background-color:beige;
    padding: 30px 30px;
}
/*Styling the main heading in footer section*/
.head1{
    text-align: center;
    font-style: normal;
}
/*Styling the first paragraph in footer section*/
.para1{
    text-align: center;
    font-style: italic;
    text-decoration-color: black;
}
/*Styling the social icons on the footer section*/
.social-icons a {
    display: inline-block;
    margin: 10px 10px;
    border-radius: 50%;
    background-color: black;
    padding:10px;
    color:white;
    text-decoration:none;
    font-size:18px

}



